
.main-container {
  display: flex;
  width: auto;
  height: 400px;
  margin: 40px auto;
  border: 2px solid #333;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  margin-top: 30%;
  margin-bottom: 20px;
}

.scroll-box {
  width: 60%;
  height: 90%;
  overflow-y: auto;
  background-color: #f7f9fa;
  padding: 20px;
  border-right: 1px solid #ddd;
  margin-bottom: 10px;
}


.scroll-content {
  display: flex;
  flex-direction: column;
}

.module-box {
  padding: 15px;
  margin-bottom: 5px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  margin-bottom: 5px;
}

.image-box {
  width: 50%;
  height: 120%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  
  
}

.right-image {
  max-width: 90%;
  height: 80%;
  object-fit: cover;
  border-radius: 15px;
  margin-bottom: 18%;
  padding-left: 20px;
  padding-right: 20px;
 
  
}
